* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  inset: 0px 0px auto auto;
}
.search-Card {
  inset: 0px 0px auto auto;
}
::-webkit-scrollbar {
  display: none;
}
.img-card {
  /* transform: translateX(-300px); */
  flex-shrink: 1;
  transform: translateX(0%);
  transition: 0.5s ease;
}
.img-card2 {
  transform: translateX(0px);
  /* transition: 0.5s; */
}

/* <img alt="Discover God's Vision" decoding="async" data-nimg="fill" class="max-w-container-md" style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;object-fit:cover;color:transparent" sizes="100vw" srcset="/_next/image?url=https%3A%2F%2Fimageproxy.youversionapi.com%2Fhttps%3A%2F%2Fs3.amazonaws.com%2Fyvplans%2F743%2F720x405.jpg&amp;w=640&amp;q=75 640w, /_next/image?url=https%3A%2F%2Fimageproxy.youversionapi.com%2Fhttps%3A%2F%2Fs3.amazonaws.com%2Fyvplans%2F743%2F720x405.jpg&amp;w=750&amp;q=75 750w, /_next/image?url=https%3A%2F%2Fimageproxy.youversionapi.com%2Fhttps%3A%2F%2Fs3.amazonaws.com%2Fyvplans%2F743%2F720x405.jpg&amp;w=828&amp;q=75 828w, /_next/image?url=https%3A%2F%2Fimageproxy.youversionapi.com%2Fhttps%3A%2F%2Fs3.amazonaws.com%2Fyvplans%2F743%2F720x405.jpg&amp;w=1080&amp;q=75 1080w, /_next/image?url=https%3A%2F%2Fimageproxy.youversionapi.com%2Fhttps%3A%2F%2Fs3.amazonaws.com%2Fyvplans%2F743%2F720x405.jpg&amp;w=1200&amp;q=75 1200w, /_next/image?url=https%3A%2F%2Fimageproxy.youversionapi.com%2Fhttps%3A%2F%2Fs3.amazonaws.com%2Fyvplans%2F743%2F720x405.jpg&amp;w=1920&amp;q=75 1920w, /_next/image?url=https%3A%2F%2Fimageproxy.youversionapi.com%2Fhttps%3A%2F%2Fs3.amazonaws.com%2Fyvplans%2F743%2F720x405.jpg&amp;w=2048&amp;q=75 2048w, /_next/image?url=https%3A%2F%2Fimageproxy.youversionapi.com%2Fhttps%3A%2F%2Fs3.amazonaws.com%2Fyvplans%2F743%2F720x405.jpg&amp;w=3840&amp;q=75 3840w" src="https://www.bible.com/_next/image?url=https%3A%2F%2Fimageproxy.youversionapi.com%2Fhttps%3A%2F%2Fs3.amazonaws.com%2Fyvplans%2F743%2F720x405.jpg&amp;w=3840&amp;q=75"> */
/* .third-section {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-image: url("https://www.bible.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fblurred-mountains.c6d9a87d.jpeg&w=1920&q=75");
} */
/* const [book, setBook] = useState(searchQuery ? searchQuery : "" );
    const [result, setResult] = useState( searchResults ? searchResults:[]);
    const apiKey = ("MY API")
    
    function handleChange(event) {
        const book = event.target.value;
        console.log(event.target.value);
        setBook(book);
    }
    function handleSubmit(event) {
        event.preventDefault();
        axios.get("https://www.googleapis.com/books/v1/volumes?q=" + book + "&key=" + apiKey + "&maxResults=20")
            .then(data => {
                console.log(data.data.items);
                setResult(data.data.items);

// STORE THE DATA HERE 
               window.sessionStorage.setItem("searchDetails",JSON.stringify({searchQuery:book,searchDetails:data.data.items}))
            })
    }

    return (
        <div>
            <div className="hero-container">
                <h1>Search your book</h1>
                <p>Discover the best books ever</p>
                <form onSubmit={handleSubmit}>
                    <div className='container'>
                        <div>
                            <input onChange={handleChange} className="form" autoFocus placeholder="Enter the title of the book" type="text" />
                            <div style={{ marginTop: '20px' }}></div>
                            <div className='d-grid gap-2 '>
                                <input type="submit" value="SEARCH" className="btn btn-primary btn-lg mx-auto" />
                            </div>


                        </div>
                    </div>
                </form>
            </div> */
